* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url('/imgs/backdrop.jpg');
  background-repeat: no-repeat;
  color: white;
}

form {
  color: black;
}

form input, label {
  display: block;
  margin: 20px auto;
  padding: 5px;
  border-radius: 5px;
}

form label {
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

.nav-button {
  text-align: center;
  border: 2px solid white;
  width: 150px;
  height: 50px;
  float: left;
  margin: 30px 30px;
  display: block;
  font-size: 30px;
  border-radius: 10px;
}

#nav-button-container {
  width: 440px;
  margin: 50px auto;
  border: 2px solid black;
  overflow: auto;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
}

.intro-logo {
  margin-top: 15%;
  text-align: center;
}

#learn {
  border: 2px solid white;
  text-align: center;
  width: 150px;
  height: 50px;
  margin: 20px auto;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}

.nav-button:hover {
  background-color: #ccac00;
  cursor: pointer;
  box-shadow: 0 0 10px white;
}

#learn:hover {
  background-color: #ccac00;
  cursor: pointer;
  box-shadow: 0 0 10px white;
}

.error {
  color: white;
  text-align: center;
  font-size: 16px;
}
