* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /*background-image: url('/imgs/backdrop.jpg');*/
  background-color: white;
  background-repeat: no-repeat;
  color: #222222;
}

/*.content{
  display: none;
  background-color: #222222;
}*/

form {
  color: #222222;
}

form input, label {
  display: block;
  margin: 20px auto;
  padding: 5px;
  border-radius: 5px;
}

form label {
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

.nav-button {
  text-align: center;
  border: 2px solid white;
  width: 150px;
  height: 50px;
  float: left;
  margin: 30px 30px;
  display: block;
  font-size: 30px;
  border-radius: 10px;
  color: white;
}

#nav-button-container {
  width: 440px;
  margin: 50px auto;
  border: 2px solid black;
  overflow: auto;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
}

.intro-logo {
  margin-top: 15%;
  text-align: center;
  color: white;
}

#learn {
  border: 2px solid white;
  text-align: center;
  width: 150px;
  height: 50px;
  margin: 20px auto;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.nav-button:hover {
  background-color: #ccac00;
  cursor: pointer;
  box-shadow: 0 0 10px white;
}

#nav-button-container a {
  color: white;
}

#nav-button-container a:hover {
  text-decoration: none;
}

#learn:hover {
  background-color: #ccac00;
  cursor: pointer;
  box-shadow: 0 0 10px white;
}

.error {
  color: white;
  text-align: center;
  font-size: 16px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #222222;
  padding-top: 10px;
}

nav a {
  font-size: 20px;
  color: white;
  margin: 10px 20px;
}

nav a:hover {
  text-decoration: none;
  color: white;
}

#hamburger {
  float: right;
  /*margin-top: 10px;*/
  margin-right: 20px;
  font-size: 30px;
}

#mini-room-container {
  width: 800px;
  margin: 20px auto;
  border: 2px solid white;
}

.mini-room {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 30px;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  overflow: auto;
  background-color: #222222;
  color: white;
}

.mini-room a {
  color: white;
}

.mini-room img {
  width: 125px;
}

#palace-show {
  width: 1001px;
  margin: auto auto;
  position: relative;
  /*border: 1px solid black;*/
}

.room-image {
  padding-top: 0px;
  width: 1000px;
  margin: auto auto;
  margin-top: 100px;
  /*position: relative;*/
}

.content {
  padding: 0px;
}

.item-image {
  position: absolute;
}
