<form action='/' method='post' id='new-session-form' class='session'>
  <input type='text' name='user_credentials[username]' placeholder='Username'>
  <input type='password' name='user_credentials[password]' placeholder='Password'>
  <input type='submit' name='login-submit' value='Login'>
</form>
