<form action='/' method='post' id='new-user-form' class='session'>
  <input type='text' name='user_credentials[first_name]' placeholder='First Name'>
  <input type='text' name='user_credentials[last_name]' placeholder='Last Name'>
  <input type='text' name='user_credentials[username]' placeholder='Username'>
  <input type='text' name='user_credentials[email]' placeholder='Email'>
  <label for='user_credentials[birthday]'>Birthday:</label>
  <input type='date' name='user_credentials[birthday]' placeholder='Birthday'>
  <input type='password' name='user_credentials[password]' placeholder='Password'>
  <input type='submit' name='new-user-submit' value='Sign Up'>
</form>
